.vc_element-icon.insight-i.insight-i-default {
	background-image: url('../images/vc-default.png') !important;
	border-radius: 0;
	background-repeat: no-repeat;
	background-size: auto;
}

.vc_element-icon.insight-i {
	background-image: url('../images/sc-icon-sprite.png') !important;
	border-radius: 4px;
	background-size: auto;

	&.insight-i-custom-menu {
		background-position: -5px -5px;
	}

	&.insight-i-blog {
		background-position: -47px -5px;
	}

	&.insight-i-button {
		background-position: -89px -5px;
	}

	&.insight-i-call-to-action {
		background-position: -131px -5px;
	}

	&.insight-i-carousel {
		background-position: -173px -5px;
	}

	&.insight-i-clients {
		background-position: -5px -47px;
	}

	&.insight-i-columns {
		background-position: -47px -47px;
	}

	&.insight-i-countdownclock {
		background-position: -89px -47px;
	}

	&.insight-i-counter {
		background-position: -131px -47px;
	}

	&.insight-i-divider {
		background-position: -173px -47px;
	}

	&.insight-i-dropcap {
		background-position: -5px -89px;
	}

	&.insight-i-form {
		background-position: -47px -89px;
	}

	&.insight-i-gallery {
		background-position: -89px -89px;
	}

	&.insight-i-iconbox {
		background-position: -131px -89px;
	}

	&.insight-i-icons {
		background-position: -173px -89px;
	}

	&.insight-i-line {
		background-position: -5px -131px;
	}

	&.insight-i-list {
		background-position: -47px -131px;
	}

	&.insight-i-map {
		background-position: -89px -131px;
	}

	&.insight-i-member {
		background-position: -131px -131px;
	}

	&.insight-i-grid {
		background-position: -5px -173px;
	}

	&.insight-i-info-boxes {
		background-position: -6px -257px;
	}

	&.insight-i-pricing {
		background-position: -47px -173px;
	}

	&.insight-i-pricing-group {
		background-position: -215px -215px;
	}

	&.insight-i-processbar {
		background-position: -89px -173px;
	}

	&.insight-i-product {
		background-position: -131px -173px;
	}

	&.insight-i-product-categories {
		background-position: -173px -173px;
	}

	&.insight-i-shopbanner {
		background-position: -215px -5px;
	}

	&.insight-i-singleimage {
		background-position: -215px -47px;
	}

	&.insight-i-svg {
		background-position: -215px -89px;
	}

	&.insight-i-accordion {
		background-position: -215px -131px;
	}

	&.insight-i-blockquote {
		background-position: -215px -173px;
	}

	&.insight-i-textblock {
		background-position: -5px -215px;
	}

	&.insight-i-toggles {
		background-position: -47px -215px;
	}

	&.insight-i-typography {
		background-position: -89px -215px;
	}

	&.insight-i-video {
		background-position: -131px -215px;
	}

	&.insight-i-pie-chart {
		background-position: -173px -215px;
	}

	&.insight-i-instagram {
		background-position: -90px -257px;
	}

	&.insight-i-twitter {
		background-position: -48px -257px;
	}

	&.insight-i-mailchimp-form {
		background-position: -90px -299px;
	}

	&.insight-i-contact-form-7 {
		background-position: -173px -257px;
	}

	&.insight-i-testimonials {
		background-position: -173px -131px;
	}

	&.insight-i-social-networks {
		background-position: -215px -257px;
	}

	&.insight-i-timeline {
		background-position: -131px -257px;
	}

	&.insight-i-flip-box {
		background-position: -131px -299px;
	}

	&.insight-i-restaurant-menu {
		background-position: -5px -215px;
	}

	&.insight-i-spacer {
		background-position: -173px -299px;
	}
}
