.tm-office-info {
	.image {
		img {
			width: 100%;
			height: auto;
		}
	}
	.title {
		font-size: 24px;
		font-weight: 700;
		color: #222;
		padding: 20px 0;
		border-bottom: 1px solid #eee;
	}
	.info {
		padding: 15px 0;
		> div {
			padding: 5px 0 5px 40px;
			position: relative;
			&:before {
				font-size: 18px;
				font-family: Ionicons;
				display: block;
				position: absolute;
				top: 5px;
				left: 0;
			}
		}
		.address {
			&:before {
				content: '\f203';
			}
		}
		.email {
			&:before {
				content: '\f132';
			}
		}
		.phone {
			&:before {
				content: '\f2d2';
			}
		}
	}
	.link {
		margin-top: 10px;
		a {
			position: relative;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			padding-bottom: 5px;
			border-bottom: 2px solid #eee;
			&:after {
				content: '\f10b';
				font-family: Ionicons;
				margin-left: 10px;
			}
			&:before {
				content: '';
				position: absolute;
				bottom: -2px;
				right: 0;
				width: 0;
				height: 2px;
				@include transit;
			}
			&:hover {
				&:before {
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}
	}
}
