.tm-twitter {
	&.style-slider-quote {
		max-width: 900px;
		margin: 0 auto;
		.tweet {
			+ .tweet {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #eeeeee;
				&:before {
					top: 13px;
				}
			}
		}

		.tweet-info {
			position: relative;
			padding-left: 55px;

			&:before {
				position: absolute;
				top: 0;
				left: 23px;
				display: block;
				content: '\f243';
				font-family: 'Ionicons';
				font-size: 18px;
				line-height: 1;

				font-weight: 500;
			}
		}

		.tweet-heading {
			font-size: 32px;
		}

		.tweet-text {
			position: relative;
			font-size: 14px;
			border: 1px solid #ededed;
			background: #f7fbfe;
			border-radius: 5px;
			padding: 17px 20px 25px;
			margin-bottom: 25px;
			word-break: break-all;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				transform: rotate(45deg);
			}

			&:before {
				left: 30px;
				bottom: -12px;
				border-color: transparent #ededed transparent transparent;
				border-width: 12px;
			}

			&:after {
				left: 33px;
				bottom: -10px;
				border-color: transparent #f7fbfe transparent transparent;
				border-width: 10px;
			}
		}

		.tweet-heading {
			font-size: 14px;
			font-weight: 700;
		}

		.tweet-date {
			font-size: 14px;
			font-style: italic;
		}
	}

	&.style-slider {
		max-width: 900px;
		margin: 0 auto;
		.tweet {
			position: relative;
			text-align: center;
			&:before {
				display: block;
				content: '\f243';
				font-family: 'Ionicons';
				font-size: 120px;
				line-height: 1;
				margin-bottom: 10px;
			}
			.tweet-heading {
				font-size: 32px;
			}
			.tweet-text {
				font-size: 24px;
				margin-top: 40px;
			}
			+ .tweet {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #eeeeee;
				&:before {
					top: 13px;
				}
			}
		}
	}

	&.style-slider_2 {
		position: relative;
		height: 100%;
		min-height: 370px;
		margin: 0 auto;
		background: #38A1F2 url('assets/images/twitter_slider_2_bg.png') no-repeat center center;

		&:before {
			display: block;
			position: absolute;
			right: 30px;
			bottom: 30px;
			content: '\f243';
			font-family: 'Ionicons';
			font-size: 40px;
			line-height: 1;
			color: #fff;
		}

		.tm-swiper {
			margin: 0;
			.swiper-container {
				padding: 0;
			}
		}
		.swiper-button-next, .swiper-button-prev {
			top: auto;
			bottom: 20px;
			border: 0;
			color: #fff;
			background-color: transparent;
			left: 15px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			&:hover {
				color: #fff;
				background-color: transparent;
			}
		}
		.swiper-button-next {
			left: 55px;
			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;
				content: '';
				display: inline-block;
				width: 1px;
				height: 20px;
				background-color: rgba(255, 255, 255, .6);
			}
		}
		.tweet {
			padding: 115px 30px;
			color: #fff;
			.tweet-date {
				position: absolute;
				top: 35px;
				left: 30px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
				color: rgba(255, 255, 255, .7);
			}
			.tweet-text,
			.tweet-text a {
				font-size: 18px;
				color: #fff;
				font-style: italic;
				@include media-breakpoint-up(md) {
					font-size: 22px;
				}
			}
			.tweet-text a {
				font-weight: 700;
			}
			+ .tweet {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #eeeeee;
				&:before {
					top: 13px;
				}
			}
		}

		.column-full-height & {
			&:before {
				right: 40px;
				bottom: 40px;
			}

			.tm-swiper {
				height: 100%;

				.swiper-container {
					height: 100%;

					.tweet {
						height: 100%;
						padding: 0;

						.tweet-date {
							left: 40px;
							top: 40px;
						}

						.tweet-text {
							position: absolute;
							left: 0;
							padding: 0 40px;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}

				.swiper-button-prev {
					bottom: 40px;
					left: 40px;
				}

				.swiper-button-next {
					bottom: 40px;
					left: 80px;
				}
			}

			&.padding-80 {
				&:before {
					right: 80px;
					bottom: 80px;
				}

				.tm-swiper {
					height: 100%;

					.swiper-container {
						height: 100%;

						.tweet {
							height: 100%;
							padding: 0;

							.tweet-date {
								left: 80px;
								top: 80px;
							}

							.tweet-text {
								position: absolute;
								left: 0;
								padding: 0 80px;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}

					.swiper-button-prev {
						bottom: 80px;
						left: 80px;
					}

					.swiper-button-next {
						bottom: 80px;
						left: 120px;
					}
				}

				@include media-breakpoint-down(md) {
					&:before {
						right: 30px;
						bottom: 30px;
					}

					.tm-swiper {
						height: 100%;

						.swiper-container {
							height: 100%;

							.tweet {
								height: 100%;
								padding: 0;

								.tweet-date {
									left: 30px;
									top: 30px;
								}

								.tweet-text {
									position: absolute;
									left: 0;
									padding: 0 30px;
									top: 50%;
									transform: translateY(-50%);
								}
							}
						}

						.swiper-button-prev {
							bottom: 30px;
							left: 30px;
						}

						.swiper-button-next {
							bottom: 30px;
							left: 70px;
						}
					}
				}
			}
		}
	}

	&.style-list {
		.item {
			+ .item {
				margin-top: 45px;
			}
		}

		.tweet {
			position: relative;
			padding-left: 31px;

			&:before {
				position: absolute;
				top: 3px;
				left: 0;
				content: '\f243';
				font-family: 'Ionicons';
				font-size: 18px;

				line-height: 1;
			}

			.tweet-text {
				a {
					font-weight: 600;
				}
			}

			.tweet-date {
				display: inline-block;
				margin-top: 8px;
			}

			+ .tweet {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #eeeeee;

				&:before {
					top: 13px;
				}
			}
		}
	}

	&.style-grid {
		.tm-twitter-inner {
			display: flex;
			padding-left: 1px;
			.item {
				width: 25%;
				padding: 30px;
				background-color: #fff;
				border: 1px solid #eee;
				min-height: 290px;
				order: 5;
				margin-left: -1px;

				&.order-1, &.order-2 {
					order: 1;
				}

				.tweet-date {
					color: #999;
					margin-bottom: 30px;
				}

				.tweet-text {
					font-size: 15px;
					line-height: 24px;
					color: #222;

					a {
						font-weight: 700;
					}
				}

				&.item-logo {
					color: #fff;
					background-color: #38A1F2;
					position: relative;
					order: 3;

					span {
						font-size: 16px;
						font-weight: 500;
						line-height: 1;
						color: #fff;
						display: block;
						width: 100%;
						text-align: center;
						padding: 40px;
						position: absolute;
						left: 0;
						bottom: 0;

						a {
							color: #fff;
							text-transform: capitalize;
							padding-bottom: 5px;
							border-bottom: 1px solid transparent;

							&:hover {
								border-bottom-color: #fff;
							}
						}
					}

					&:before {
						display: block;
						width: 144px;
						height: 144px;
						text-align: center;
						line-height: 144px;
						position: absolute;
						top: calc(50% - 26px);
						left: 50%;
						content: '\f243';
						font-family: 'Ionicons';
						font-size: 60px;
						color: #fff;
						background-image: url(assets/images/rounded_lines.png);
						transform: translate(-50%, -50%);
					}
				}
			}
		}

		@include media-breakpoint-down(md) {
			.tm-twitter-inner {
				padding-left: 0;
				flex-direction: column;

				.item {
					width: 100%;
					min-height: 0;
					order: 2;
					margin-left: 0;
					margin-top: -1px;

					&.item-logo {
						min-height: 290px;
						order: 1;
					}
				}
			}
		}
	}
}
