.tm-project {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.tm-grid-pagination {
		margin-top: 20px;
	}

	.tm-filter-button-group {
		padding-bottom: 125px;
	}

	.post-thumbnail {
		position: relative;

		img {
			@extend %transit2;
			width: 100%;
		}
	}

	.post-title {
		font-size: 20px;

		a {
			font-size: inherit;
		}
	}

	&.style-grid-caption,
	&.style-carousel {
		.post-item-wrap {
			@extend %transit2;
			background: #ffffff;
			box-shadow: 0 30px 50px rgba(0, 0, 0, .12);

			&:hover {
				.post-thumbnail-wrap {
					img {
						transform: scale3d(1.1, 1.1, 1.1);
					}
				}
			}
		}

		.post-thumbnail-wrap {
			margin: -1px -1px 0;
			position: relative;
			overflow: hidden;

			img {
				@include transit;
			}
		}

		.post-info {
			padding: 30px;
		}

		.post-title {
			line-height: 1.41;
		}

		.project-info-wrap {
			margin-top: 12px;
		}

		.project-info {
			margin-top: 5px;
			font-size: 14px;
			color: $color--body;

			i {
				margin-right: 8px;
				font-size: 16px;
				font-weight: 500;
			}

			&-label {
				color: $color--heading;
			}
		}
	}

	&.style-carousel {
		.tm-swiper {
			margin: 0 -15px -30px;
		}

		.swiper-container {
			padding: 0 15px 30px;
		}

		.post-item-wrap {
			box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
		}
	}
}

