.tm-timeline {
	ul {
		margin: 0;
		padding: 0;
	}

	&.style-01 {
		.grid-item {
			+ .grid-item {
				padding-top: 100px;
			}

			&:not([style*='left: 0']) {
				.item-wrapper {
					padding: 0 0 0 55px;

				}

				.content-wrap {
					float: right;
				}

				.dot {
					left: -14px;
				}
			}
		}

		.item-wrapper {
			@extend %clearfix;
			position: relative;
			padding: 0 55px 0 0;
		}

		.line {
			position: absolute;
			left: 50%;
			margin-left: -1px;
			height: 100%;
			border-left: 2px dotted rgba(151, 151, 151, .88);
		}

		.dot {
			width: 28px;
			height: 28px;
			border-radius: 100%;
			position: absolute;
			top: 0;
			right: -14px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 18px;
				height: 18px;
				border-radius: 50%;
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 10px;
				height: 10px;
				border-radius: 50%;
			}
		}

		.content-header {
			padding: 0 20px;
		}

		.content-wrap {
			position: relative;
			background: #fff;
			box-shadow: 0 5px 40px rgba(0, 0, 0, .11);

			&:hover {
				.heading {
					&:before {
						width: 100%;
					}
				}
			}
		}

		.content-body {
			padding: 20px 20px 25px;
		}

		.heading {
			position: relative;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 0;
			padding: 15px 0;
		}

		.photo {
			margin-bottom: 25px;

			img {
				width: 100%;
			}
		}
	}

	&.style-02 {
		.timeline-item {
			+ .timeline-item {
				margin-top: 40px;
				padding-top: 40px;
				border-top: 1px solid #eee;
			}
		}

		.content-wrap {
			display: flex;
		}

		.content-body {
			padding: 0 0 0 40px;
		}

		.photo {
			flex-shrink: 0;

		}

		.heading {
			font-size: 18px;
			margin-bottom: 13px;
		}
	}
}

.tm-timeline {
	.tm-animation-queue {
		.item {
			.content-wrap {
				opacity: 0;
			}

			&.animate {
				.content-wrap {
					opacity: 1;
					animation: moveHorizontal 0.65s ease forwards;
				}

				&:nth-child(even) {
					.content-wrap {
						transform: translateX(100px);
					}
				}

				&:nth-child(odd) {
					.content-wrap {
						transform: translateX(-100px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.tm-timeline {
		&.style-01 {
			.grid-item {
				&:not([style*='left: 0']) {
					.item-wrapper {
						padding: 0 0 0 30px;
					}
				}
			}

			.item-wrapper {
				padding: 0 30px 0 0;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.tm-timeline {
		&.style-01 {
			.grid-item {
				+ .grid-item {
					padding-top: 40px;
				}
			}

			.item-wrapper {
				padding: 0 0 0 50px;
			}

			.line {
				left: 20px;
			}

			.dot {
				left: 6px;
				right: auto;
			}

			.content-wrap {
				float: right;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-timeline {
		&.style-02 {
			.content-body {
				padding: 6px 0 0 30px;
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.tm-timeline {
		&.style-02 {
			.photo {
				max-width: 100%;
			}

			.content-wrap {
				display: block;
				text-align: center;
			}

			.content-body {
				padding: 30px 0 0;
			}
		}
	}
}
