.tm-jobs-box {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #F7F7F7;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.tm-jobs-box-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.title {
			font-size: 34px;
			font-weight: 700;
			color: #222;
			line-height: 1.3;
		}
		.link {
			text-align: right;
			a {
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				height: 40px;
				line-height: 40px;
				&:after {
					content: '\f2c7';
					font-family: Ionicons;
					font-size: 14px;
					font-weight: 400;
					display: inline-block;
					vertical-align: middle;
					margin-left: 15px;
					width: 40px;
					height: 40px;
					line-height: 38px;
					text-align: center;
					border: 1px solid #ddd;
					border-radius: 50%;
				}
				&:hover {
					&:after {
						color: #fff;
						border-color: $color--primary;
						background-color: $color--primary;
					}
				}
			}
		}
	}
	.tm-jobs-box-mid {
		margin-top: 20px;
		.tm-jobs-box-item {
			display: block;
			padding: 20px 0;
			border-bottom: 1px solid #ddd;
			.title {
				font-size: 20px;
				font-weight: 700;
			}
			.text {
				color: #888;
			}
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}
}
