.tm-service {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.post-read-more {
		font-size: 13px;
		margin-top: 20px;
		letter-spacing: 0.54px;

		.btn-text {
			font-weight: 700;
			margin-right: 3px;
			text-transform: uppercase;
		}

		.btn-icon {
			position: relative;
			top: 1px;
		}
	}

	.post-excerpt {
		p:last-child {
			margin-bottom: 0;
		}
	}

	// Same style for grid 01 + carousel slider
	&.style-01 {
		&.style-carousel {
			.tm-swiper {
				margin: -30px -30px -50px;
			}
			.swiper-container {
				padding: 30px 30px 50px;
			}
		}
		.post-item-wrap {
			padding: 0 0 30px;

			&:hover {
				.post-info {
					box-shadow: 0 30px 50px rgba(0, 0, 0, .06);
					&:after {
						width: 100%;
						left: 0;
						right: auto;
					}
				}
			}
		}

		.post-thumbnail {
			position: relative;
			overflow: hidden;

			img {
				transition: all .7s linear;
				width: 100%;
			}
		}

		.post-info {
			@extend %transit2;
			position: relative;
			padding: 24px 25px 44px;
			background: #ffffff;
			position: relative;
			z-index: 999;
			margin: -30px 20px 0;
			box-shadow: 0 30px 50px rgba(0, 0, 0, .03);
			&:after {
				@extend %transit2;
				content: '';
				width: 0;
				height: 3px;
				position: absolute;
				left: auto;
				right: 0;
				bottom: 0;
			}
		}

		.post-title {
			font-size: 24px;
			margin-bottom: 14px;
			line-height: 1.4;
		}

	}

	&.style-02 {

		.post-item-wrap {
			position: relative;
			margin-bottom: 20px;

			&:hover {
				.post-thumbnail-wrap {
					&:after {
						width: 100%;
						left: 0;
						right: auto;
					}
				}
			}
		}

		.post-thumbnail-wrap {
			margin-bottom: 26px;
			position: relative;

			&:after {
				@extend %transit2;
				content: '';
				width: 0;
				height: 3px;
				position: absolute;
				left: auto;
				right: 0;
				top: 100%;
			}

			img {
				@extend %transit;
				width: 100%;
			}
		}

		.post-title {
			font-size: 24px;
			margin-bottom: 15px;
			line-height: 1.22;
		}
	}

	&.style-03 {
		.post-item-wrap {
			@extend %transit2;
			position: relative;
			border: 1px solid #eeeeee;
			background: #ffffff;
			height: 100%;

			&:hover {
				.post-thumbnail-wrap {
					img {
						transform: scale3d(1.1, 1.1, 1.1);
					}
				}
			}
		}

		.post-thumbnail-wrap {
			position: relative;
			overflow: hidden;
			margin: -1px -1px 0;

			img {
				transition: all .3s, transform .6s;
			}
		}

		.post-title {
			font-size: 20px;
			margin-bottom: 13px;
			line-height: 1.4;
		}

		.post-info {
			padding: 27px 30px 30px;
		}
	}

	&.style-04 {
		.post-item-wrap {
			display: flex;
			align-items: stretch;
			width: 100%;
			background-color: #fff;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.11);
			height: 100%;
		}

		.post-thumbnail-wrap,
		.post-info {
			width: 50%;
		}

		.post-thumbnail-wrap {
			background-size: cover;
		}

		.post-info {
			padding: 35px 30px;
		}

		.post-icon {
			font-size: 60px;
			line-height: 1;
			margin-bottom: 40px;
		}

		.service-thumb {
			margin-bottom: 40px;
		}

		.post-title {
			font-size: 24px;
			margin-bottom: 19px;
		}

		.post-read-more {
			margin-top: 33px;
		}

		@include media-breakpoint-down(md) {
			.post-item-wrap {
				flex-direction: column;
			}

			.post-thumbnail-wrap {
				min-height: 330px;
			}

			.post-thumbnail-wrap,
			.post-info {
				width: 100%;
			}
		}
	}

	&.style-05 {
		.service-item {
			&:nth-child(3n+1) {
				.post-item-wrap {
					background-color: #222;
				}
				.post-title {
					color: #fff;
					a {
						color: #fff;
					}
				}
			}

			&:nth-child(2n) {
				.post-thumbnail-wrap {
					order: 2;
				}
			}

			&:nth-child(3n) {
				.post-item-wrap {
					background-color: #f5f6fa;
				}
				.post-title {
					color: #222;
					a {
						color: #222;
					}
				}
			}
		}
		.post-item-wrap {
			width: 100%;
			background-color: #fff;
			height: 100%;
		}

		.post-thumbnail-wrap {
			background-size: cover;
			min-height: 400px;
		}

		.post-info-wrap {
			position: relative;
			padding: 100px 30px 160px;
		}

		.post-info {
			max-width: 530px;
			margin: 0 auto;
		}

		.post-icon {
			font-size: 80px;
			line-height: 1;
			margin-right: 40px;
		}

		.service-thumb {
			margin-bottom: 40px;
		}

		.post-title {
			display: flex;
			align-items: center;
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 40px;
			line-height: 1.3;
			span {
				font-weight: 300;
				display: block;
			}
		}

		.post-read-more {
			margin-top: 0;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: $color--primary;
			color: #222;
			width: 100%;
			height: 60px;
			line-height: 60px;
			padding: 0 20px;
			z-index: 2;

			.btn-text {
				position: relative;
				z-index: 3;
			}

			&:before {
				content: '\f10b';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 22px;
				font-family: Ionicons;
				font-size: 18px;
				font-weight: 500;
				z-index: 3;
			}

			&:after {
				width: 0;
				height: 100%;
				content: '';
				background-color: #222;
				display: inline-block;
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 1;
				@include transit;
			}

			&:hover {
				color: #fff;
				&:after {
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			.post-item-wrap {
				display: flex;
				align-items: stretch;
				width: 100%;
				background-color: #fff;
				box-shadow: 0 0 40px rgba(0, 0, 0, 0.11);
				height: 100%;
			}

			.post-thumbnail-wrap,
			.post-info-wrap {
				width: 50%;
			}
		}

		@include media-breakpoint-up(xl) {
			.post-info-wrap {
				padding: 100px 30px;
			}
			.post-read-more {
				left: auto;
				right: 0;
				width: 60px;
				height: 100%;
				padding: 0;

				&:before {
					content: '\f35d';
					top: auto;
					bottom: 20px;
					transform: none;
				}

				&:after {
					width: 100%;
					height: 0;
					bottom: 0;
					top: auto;
					left: auto;
					right: auto;
				}

				.btn-text {
					display: inline-block;
					transform: rotate(90deg);
					transform-origin: left bottom;
					white-space: nowrap;
					position: relative;
					z-index: 3;
				}

				&:hover {
					color: #fff;
					&:after {
						height: 100%;
						top: 0;
						bottom: auto;
					}
				}
			}
		}
	}

	&.style-carousel {
		&.style-01 {
			.post-item-wrap {
				padding-bottom: 0;
			}
		}
	}

	&.style-carousel_03 {
		.tm-swiper.has-pagination {
			margin-bottom: 70px;
		}
		.tm-swiper .swiper-pagination {
			bottom: -70px;
		}
	}

	&.style-carousel_05 {
		padding-top: 40px;
		padding-bottom: 40px;

		.swiper-container {
			padding: 0;
		}

		.service-item {
			.post-info {
				background-color: #11202D;
				margin-top: 0;
				margin-bottom: 40px;
			}
			&:nth-child(2n+1) {
				.post-thumbnail-wrap {
					order: 2;
				}
				.post-info {
					background-color: $color--primary;
					margin-top: 40px;
					margin-bottom: 0;
				}
			}
		}

		.post-item-wrap {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.post-thumbnail-wrap {
			background-size: cover;
			height: 355px;
		}

		.post-info {
			height: 355px;
			padding: 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.post-icon {
			color: #fff;
			line-height: 1;
			font-size: 70px;
		}

		.post-title {
			font-size: 24px;
			font-weight: 700;
			position: relative;
			a {
				display: block;
				color: #fff;
				position: relative;
				&:after {
					content: '\f30f';
					font-family: Ionicons;
					font-size: 24px;
					font-weight: 400;
					position: absolute;
					right: 0px;
					bottom: 0px;
					color: #fff;
				}
			}
		}

		.post-read-more {
			margin-top: 33px;
		}

		@include media-breakpoint-down(md) {
			padding-top: 0;
			padding-bottom: 0;

			.service-item {
				.post-info {
					margin-top: 0 !important;
					margin-bottom: 0 !important;
				}
			}
		}
	}

	&.style-carousel_06 {
		padding-top: 0;
		padding-bottom: 0;

		.tm-swiper {
			margin: 0;
		}

		.swiper-container {
			padding: 0;
		}

		.service-item {
			&:nth-child(2n+1) {
				.post-thumbnail-wrap {
					order: 1;
				}
			}
			&:nth-child(3n+1) {
				.post-info {
					background-color: #11202D;
				}
			}
			&:nth-child(3n+2) {
				.post-info {
					background-color: #2B8C10;
				}
			}
			&:nth-child(3n+3) {
				.post-info {
					background-color: $color--primary;
				}
			}
		}

		.post-item-wrap {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.post-thumbnail-wrap {
			height: 600px;
			background-size: cover;
			background-position: center;
			order: 3;
		}

		.post-info {
			height: 600px;
			padding: 50px 40px;
			@include media-breakpoint-up(md) {
				padding: 80px;
			}
			display: flex;
			flex-direction: column;
			position: relative;
			order: 2;

			.post-icon {
				color: #fff;
				line-height: 1;
				font-size: 70px;
				margin-bottom: 40px;
			}

			.post-title {
				font-size: 40px;
				line-height: 54px;
				display: block;
				position: relative;
				padding-bottom: 40px;
				margin-bottom: 40px;

				a {
					color: #fff;
					font-weight: 700;
					span {
						font-weight: 300;
						display: block;
					}
				}

				&:after {
					content: '';
					display: block;
					width: 70px;
					height: 5px;
					background-color: #fff;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}

			.post-excerpt {
				color: #fff;
				opacity: .7;
			}

			.post-more {
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;
				text-align: right;
				color: #fff;
				position: absolute;
				right: 40px;
				bottom: 40px;

				@include media-breakpoint-up(md) {
					right: 80px;
					bottom: 80px;
				}

				a {
					color: #fff;
					position: relative;

					&:after {
						content: '\f30f';
						display: inline-block;
						font-family: Ionicons;
						color: #fff;
						margin-left: 10px;
						@include transit;
					}

					&:hover {
						&:after {
							transform: translateX(5px);
						}
					}
				}
			}
		}

		@include media-breakpoint-down(md) {
			.post-thumbnail-wrap {
				height: 480px;
			}
			.post-info {
				height: 480px;
				padding: 30px;
			}
		}
	}

	&.style-carousel_07 {
		> .tm-service-pagination {
			padding-left: 100px;
			padding-right: 100px;
			z-index: 8;
			> .swiper-container {
				> .swiper-wrapper {
					.swiper-slide {
						z-index: 7;
						.post-info {
							width: 100%;
							padding: 30px;
							display: flex;
							align-items: center;
							position: relative;
							cursor: pointer;
							background-color: #fff;

							.post-icon {
								font-size: 50px;
								margin-right: 20px;
							}

							.post-title {
								font-size: 20px;
								font-weight: 700;
							}

							&:before {
								content: '';
								width: 100%;
								height: 20px;
								background-color: inherit;
								display: block;
								position: absolute;
								left: 0;
								bottom: -20px;
								opacity: 0;
							}

							&:after {
								content: '';
								display: block;
								width: 0px;
								height: 0px;
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;
								border-top: 10px solid $color--primary;
								position: absolute;
								left: 50%;
								bottom: -30px;
								opacity: 0;
							}
						}

						&.swiper-slide-active {
							.post-info {
								background-color: $color--primary;
								color: #222;

								&:before, &:after {
									opacity: 1;
								}
							}
						}
					}

					.swiper-slide-visible {
						z-index: 6;
						box-shadow: -10px 0 20px rgba(0, 0, 0, 0.05);
					}
				}
			}
		}
		> .swiper-container {
			z-index: 7;
			.service-item {
				height: 730px;
				background-size: cover;
				background-position: center;
				position: relative;

				.container {
					position: relative;
					height: 100%;
				}

				.service-item-inner {
					width: 470px;
					background-color: #fff;
					padding: 60px 40px;
					position: absolute;
					top: 50%;
					left: 30px;
					transform: translateY(-50%);

					.service-title {
						font-size: 40px;
						font-weight: 700;
						line-height: 54px;
						color: #222;
						padding-bottom: 30px;
						margin-bottom: 30px;
						position: relative;

						&:after {
							content: '';
							display: block;
							width: 50px;
							height: 4px;
							background-color: $color--primary;
							position: absolute;
							left: 0;
							bottom: 0;
						}
					}

					.service-excerpt {
						font-size: 18px;
						line-height: 28px;
						margin-bottom: 40px;
					}

					.service-more {
						a {
							display: inline-block;
							height: 50px;
							line-height: 50px;
							padding: 0 30px;
							color: #fff;
							background-color: #222;
							font-size: 13px;
							font-weight: 700;
							text-transform: uppercase;
							letter-spacing: 1px;

							&:hover {
								background-color: $color--primary;
							}
						}
					}
				}
			}
		}

		@include media-breakpoint-down(md) {
			> .tm-service-pagination {
				padding-left: 0;
				padding-right: 0;

				.swiper-nav-button {
					display: none;
				}
			}
			> .swiper-container {
				.service-item {
					.service-item-inner {
						width: calc(100% - 60px);
						box-sizing: border-box;
					}
				}
			}
		}
	}
}
