.tm-slider-button {
	line-height: 1;

	.slider-btn {
		@extend %transit2;
		outline: none !important;
		cursor: pointer;
	}

	&.style-01 {
		.button-wrap {
			@extend %clearfix;
			display: inline-block;
			border: 1px solid #eee;
			border-radius: 5px;
			overflow: hidden;
		}

		.slider-btn {
			border: 1px solid #eee;
			width: 58px;
			height: 58px;
			line-height: 56px;
			float: left;
			text-align: center;
			font-size: 20px;
			color: #222;

			&:hover {
				background: #eee;
			}
		}
	}

	&.style-02 {
		.button-wrap {
			@extend %clearfix;
			display: inline-block;
		}

		.slider-btn {
			border: 2px solid #ddd;
			border-radius: 5px;
			width: 60px;
			height: 60px;
			line-height: 56px;
			float: left;
			text-align: center;
			font-size: 20px;
			color: #222;

			&:hover {
				color: #fff;
				border-color: transparent;
			}
		}

		.slider-prev-btn {
			margin-right: 10px;
		}
	}

	&.style-03 {
		.button-wrap {
			@extend %clearfix;
			display: inline-block;
		}

		.slider-btn {
			border: 2px solid #ddd;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			line-height: 46px;
			float: left;
			text-align: center;
			font-size: 18px;
			color: #222;

			&:hover {
				color: #fff;
				border-color: $color--primary;
				background-color: $color--primary;
			}
		}

		.slider-prev-btn {
			margin-right: 10px;
		}
	}

	&.style-04 {
		.button-wrap {
			@extend %clearfix;
			display: inline-block;
			margin: 0 -20px;
		}

		.slider-btn {
			float: left;
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			padding: 10px 20px;

			+ .slider-btn {
				position: relative;
				&:before {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(0, -50%);
					content: '';
					width: 1px;
					height: 20px;
					background-color: #ddd;
					display: inline-block;
				}
			}
		}
	}
}
