.tm-slider {
	.spacing {
		height: 32px;
	}

	.sub-title {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 3px;
		line-height: 1.71;
		text-transform: uppercase;
		margin-bottom: 14px;
	}

	.heading {
		font-size: 24px;
		margin-bottom: 12px;
	}

	&.fw-image .image img {
		width: 100%;
	}

	&.tm-swiper.has-pagination.pagination-style-1 {
		margin-bottom: 50px;

		.swiper-pagination {
			bottom: -50px;
		}
	}

	&.style-2 {
		.swiper-container {
			padding-bottom: 20px;
		}

		.image-wrap {
			position: relative;
			display: inline-block;

			&:before,
			&:after {
				position: absolute;
				content: '';
				border-radius: 10px;
			}

			&:before {
				background: #e9f5ff;
				bottom: -20px;
				left: 42px;
				right: 42px;
				height: 100%;
			}

			&:after {
				background: #bae0ff;
				bottom: -10px;
				left: 25px;
				right: 25px;
				height: 100%;
			}
		}

		.image {
			position: relative;
			z-index: 3;

			img {
				border-radius: 10px;
				box-shadow: 0 0 20px rgba(0, 0, 0, .06);
			}
		}
	}

	&.style-4 {
		.image {
			img {
				width: 100%;
			}
		}
	}

	&.style-5 {
		margin: 0;
		position: relative;

		.swiper-container {
			z-index: 8;
			padding: 0;

			.swiper-slide {
				.row {
					align-items: center;

					.image-wrap {
						img {
							width: 100%;
							height: auto;
						}
					}

					.info-wrap {
						.sub-title {
							font-size: 14px;
							font-weight: 700;
							color: #888;
							letter-spacing: 1px;
						}

						.heading {
							font-size: 40px;
							line-height: 54px;
							position: relative;
							padding-bottom: 30px;
							margin-bottom: 30px;

							&:before {
								content: '';
								display: block;
								width: 50px;
								height: 4px;
								background-color: $color--primary;
								position: absolute;
								left: 0;
								bottom: 0;
							}
						}

						.text {
							font-size: 18px;
							line-height: 28px;
							font-weight: 400;
							margin-bottom: 40px;
						}

						.more {
							a {
								display: inline-block;
								height: 50px;
								line-height: 50px;
								padding: 0 30px;
								font-size: 13px;
								font-weight: 700;
								text-transform: uppercase;
								color: #fff;
								background-color: #222;
								letter-spacing: 1px;

								&:hover {
									background-color: $color--primary;
								}
							}
						}
					}
				}
			}
		}

		.swiper-pagination {
			display: inline-block;
			width: auto;
			left: 50%;
			padding-left: 15px;
			bottom: 30px;
			z-index: 7;
		}

		@include media-breakpoint-down(md) {
			.swiper-container {
				.swiper-slide {
					.row {
						.image-wrap {
							margin-bottom: 30px;
						}
					}
				}
			}

			.swiper-pagination {
				display: none;
			}
		}
	}
}
