.tm-list {
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 30px;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.list-item {
		position: relative;
		padding: 0;
	}

	.title-wrap {
		overflow: hidden;
	}

	.link {
		padding: 0;
		color: currentColor;
	}

	.title {
		font-size: 15px;
		line-height: inherit;
	}

	.sub-title {
		font-weight: 400;
		font-style: italic;
		font-size: 15px;
	}

	.desc {
		margin-top: 13px;
		margin-bottom: 26px;
	}

	.marker {
		@extend %transit;
		display: inline-block;
		float: left;
	}

	&.style-check {
		.list-item {
			padding-left: 32px;
		}

		.marker {
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f122';
				font-size: 12px;
			}
		}

		.title {
			font-size: 15px;
			font-weight: 400;
		}
	}

	&.style-check-02 {
		grid-row-gap: 12px;

		.list-item {
			padding-left: 32px;
		}

		.marker {
			&:before {
				position: absolute;
				top: 5px;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f122';
				font-size: 12px;
				line-height: 1;
			}
		}

		.title {
			font-size: 15px;
			line-height: inherit;
			color: inherit;
			font-weight: 400;
		}
	}

	&.style-icon {
		.title {
			font-size: 18px;
			line-height: 1.55;
		}

		.marker {
			min-width: calc(1em + 18px);
			font-size: 20px;
		}
	}

	&.style-icon-02 {
		grid-row-gap: 15px;

		.title {
			font-size: 15px;
			font-weight: 400;
			line-height: 1.66;
			color: inherit;

			a {
				color: inherit;
				@extend %LinkTransition;
			}
		}

		.marker {
			min-width: 30px;
			font-size: 18px;
		}
	}

	&.style-circle,
	&.style-circle-02 {
		.list-item {
			padding-left: 20px;
		}

		.marker {
			&:before {
				position: absolute;
				top: 4px;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f400';
				font-size: 10px;
			}
		}
	}

	&.style-circle-02 {
		.title {
			font-weight: 600;
			color: inherit;
		}
	}

	&.style-circle-03,
	&.style-circle-04 {
		grid-row-gap: 15px;

		.list-item {
			padding-left: 20px;
		}

		.title {
			font-size: 15px;
			font-weight: 400;
		}

		.marker {
			color: #b6b6b6;

			&:before {
				position: absolute;
				top: 6px;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f400';
				font-size: 8px;
			}
		}
	}

	&.style-circle-04 {
		.title {
			color: inherit;
		}
	}

	&.style-circle-05 {
		grid-row-gap: 15px;

		.list-item {
			padding-left: 20px;
		}

		.title {
			font-size: 16px;
			font-weight: 700;
			color: #222;

			a {
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.marker {
			color: #b6b6b6;

			&:before {
				position: absolute;
				top: 6px;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f400';
				font-size: 8px;
			}
		}
	}

	&.style-modern-icon {
		grid-row-gap: 0;

		.list-item {
			padding: 43px 38px;
			background-color: #f7f7f7;

			+ .list-item {
				border-top: 1px solid #e7e7e7;
			}
		}

		.marker {
			width: 55px;
			height: 55px;
			line-height: 55px;
			border-radius: 50%;
			text-align: center;
			margin-right: 16px;
			font-size: 50px;
		}

		.title {
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;
		}

		.desc {
			margin-top: 15px;
			margin-bottom: 0;
		}
	}

	&.style-modern-icon-02 {
		grid-row-gap: 30px;

		.marker {
			width: 70px;
			height: 70px;
			line-height: 70px;
			border-radius: 50%;
			text-align: center;
			margin-right: 29px;
			font-size: 30px;
			color: #ffffff;
		}

		.title {
			font-size: 20px;
			line-height: 1.2;
			border-bottom: 1px solid #eeeeee;
			padding-bottom: 16px;
		}

		.desc {
			margin-top: 17px;
			margin-bottom: 0;
		}
	}

	&.style-modern-icon-03 {
		grid-row-gap: 30px;

		.marker {
			margin-right: 15px;
			font-size: 28px;
			line-height: 1;
		}

		.title {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			line-height: 1.2;
		}

		.desc {
			margin-top: 12px;
			margin-bottom: 0;
		}
	}

	&.style-modern-icon-04 {
		grid-row-gap: 30px;

		.marker {
			width: 70px;
			height: 70px;
			line-height: 70px;
			text-align: center;
			margin-right: 29px;
			font-size: 30px;
			color: $color--primary;
			border: 1px solid #ddd;
			background-color: #fff;
		}

		.title {
			font-size: 20px;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 17px;
		}

		.desc {
			margin-top: 17px;
			margin-bottom: 0;
		}
	}

	&.style-auto-numbered,
	&.style-manual-numbered {

		grid-row-gap: 30px;

		.marker {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			margin-right: 10px;
		}

		.title {
			font-size: 20px;
			line-height: 1.2;
		}

		.desc {
			margin-top: 21px;
			margin-bottom: 0;
		}
	}

	&.style-auto-numbered-2 {

		grid-row-gap: 30px;

		.marker {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			margin-right: 10px;
		}

		.title {
			font-size: 20px;
			line-height: 1.2;
			margin-bottom: 20px;
		}

		.desc {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

@include media-breakpoint-up(sm) {
	.tm-list {
		&.style-modern-icon-02 {
			grid-row-gap: 60px;
		}

		&.style-auto-numbered,
		&.style-manual-numbered {
			grid-row-gap: 57px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-list {
		&.style-auto-numbered-2 {
			grid-row-gap: 20px;
		}
	}
}
