.tm-posts-widget {
	.post-item {
		@extend %clearfix;
		display: flex;
		
		+ .post-item {
			margin-top: 25px;
			padding-top: 25px;
			border-top: 1px solid #ddd;
		}
	}
	
	.post-widget-thumbnail {
		flex-shrink: 0;
		margin-right: 20px;
		width: 80px;
		height: 80px;
		overflow: hidden;
		position: relative;
		
		&:hover {
			.post-widget-overlay {
				visibility: visible;
				opacity: 1;
			}
		}
		
		img {
			width: 100%;
		}
	}
	
	.post-widget-info {
		flex-grow: 1;
	}
	
	.post-widget-categories {
		margin-bottom: 10px;
	}
	
	.post-widget-title {
		font-size: 18px;
		line-height: 1.375;
		margin-bottom: 0;
		a {
			color: #222;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.post-date {
		display: block;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #ababab;
		margin-top: 10px;
		position: relative;
	}
	
	.post-widget-overlay {
		@extend %transit;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);
		opacity: 0;
	}
	
	.post-overlay-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		font-weight: 500;
		font-size: 24px;
	}
}
