.page-open-mobile-menu {

	cursor: pointer;

	.inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
	}

	.icon {
		position: relative;
		width: 24px;
		height: 18px;
	}

	&:hover {
		i {
			&:before,
			&:after {
				width: 100%;
			}
		}
	}

	i {
		@extend %transit2;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -1px;
		width: 100%;
		height: 2px;
		background: currentColor;

		&:before,
		&:after {
			position: absolute;
			right: 0;
			height: 100%;
			background: inherit;
			content: '';
			transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		&:before {
			top: -8px;
			width: 55%;
		}

		&:after {
			top: 8px;
			width: 70%;
		}
	}
}

.page-close-mobile-menu {
	font-size: 32px;
	cursor: pointer;
	color: $color--heading;
}

.page-mobile-menu-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 0 30px;
	height: 80px;
	background: #ffffff;
	align-items: center;
}

.page-mobile-menu-logo {
	flex-grow: 1;
}

.page-mobile-menu-opened {
	overflow: hidden;
}

.page-mobile-main-menu {
	position: fixed;
	top: 0;
	right: 100%;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	background: #ffffff;
	text-align: left;
	transition: all .3s;
	overflow-y: auto;
	padding-top: 80px;

	.admin-bar & {
		top: 32px;
		height: calc(100% - 32px);
	}

	.page-mobile-menu-opened & {
		right: 0;
	}

	.widgettitle {
		margin: 0 0 10px;
	}

	.wpb_column {
		+ .wpb_column {
			margin-top: 35px;
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		list-style-type: none;

		&.opened {
			> a {
				.toggle-sub-menu {
					&:after {
						content: '\f107';
					}
				}
			}
		}
	}

	.sub-menu {
		display: none;
		margin: 12px 0 14px 10px;

		a {
			padding: 8px 0;
		}
	}

	.page-mobile-menu-content {
		> ul {
			> li.page_item_has_children {
				padding-bottom: 18px;
			}
		}
	}

	.children {
		margin-left: 20px;

		a {
			padding: 8px 0;
		}
	}

	.wpb_column.vc_column_container {
		width: 100% !important;
	}

	.menu__container {
		padding: 0;
		margin: 14px 30px 30px;
		> li {

			> a {
				padding: 10px 0;
				border: 0;
				border-color: transparent;
			}

			+ li {
				> a {
					border-top: 1px solid transparent;
				}
			}

			&.opened {
				> a {
					border-bottom: 1px solid transparent;
				}
			}
		}

		a {
			position: relative;
			display: block;
		}
	}

	.tm-list {
		margin-bottom: 16px;
	}

	.mega-menu {
		margin-top: 20px;
	}

	.wpb_button,
	.wpb_content_element,
	ul.wpb_thumbnails-fluid > li {
		margin-bottom: 30px;
	}

	.widget_nav_menu,
	.insight-core-bmw {
		li {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}

	.toggle-sub-menu {
		@extend %transit2;
		position: absolute;
		top: 50%;
		right: 0;
		width: 40px;
		height: 40px;
		background: rgba(255, 255, 255, .1);
		color: #ffffff;
		text-align: center;
		transform: translate(0, -50%);

		&:after {
			display: block;
			content: '\f105';
			font-size: 16px;
			@extend %FontAwesomeRegular;
			font-weight: 500;
			line-height: 40px;
		}

		&:hover {
			background: rgba(255, 255, 255, .2);
		}
	}
}

@media screen and (max-width: 782px) {
	.page-mobile-main-menu {
		.admin-bar & {
			top: 46px;
			height: calc(100% - 46px);
		}
	}
}

@media screen and (max-width: 600px) {
	.page-mobile-main-menu {
		.admin-bar & {
			top: 0;
			height: 100%;
		}
	}
}

.desktop-menu {
	.page-open-mobile-menu {
		display: none !important;
	}
}
