.comment-nav-links,
.page-pagination {
	padding: 0;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: 700;

	li {
		display: inline-block;
		list-style-type: none;

		span,
		a {
			padding: 0;
			display: block;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			min-width: 40px;
			height: 40px;
			line-height: 40px;
			border: 0;
			border-radius: 50%;
			background: none;
		}

		a {
			&:hover {
				color: $color--primary;
			}
		}

		.current {
			color: #fff;
			background-color: $color--primary;
		}

		.dots {
			background: none;
			min-width: 20px;
		}
	}
}

.page-pagination {
	margin: 40px -12px 0;
}

.comment-nav-links {
	ul {
		padding: 0;
	}
}

#comment-nav-above {
	ul {
		margin: 50px 0;
	}
}

#comment-nav-below {
	ul {
		margin: 0 0 74px;
	}
}

.page-links {
	@extend %clearfix;
	clear: both;
	padding-top: 30px;
	margin: 0 -12px;

	> span,
	> a {
		display: block;
		float: left;
		padding: 15px 12px;
		text-align: center;
		font-weight: 700;
		font-size: 15px;
		line-height: 38px;
	}

	> a {
		color: #ababab;
	}

	a {
		span {
			padding: 0 6px;
		}
	}

	> a:hover,
	> a:focus,
	> span {
		color: #ffffff;
	}
}

.post-navigation {
	position: relative;
}

.nav-links {
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;

	.nav-item {
		width: 46%;
	}

	.nav-previous {
		text-align: left;

		span {
			margin-right: 8px;
			font-size: 10px;
			font-weight: 500;
		}
	}

	.nav-next {
		text-align: right;

		span {
			margin-left: 10px;
			font-size: 10px;
			font-weight: 500;
		}
	}

	a {
		display: block;
		font-size: 18px;
		line-height: 1.4;
		font-weight: 700;

		&:hover {
			text-decoration: underline;

			div {
				color: $color--primary !important;
			}
		}

		div {
			@extend %transit2;
			color: $color--primary;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin-bottom: 10px;
		}
	}
}
