.page-comment-form {
	padding-top: 80px;
	margin: 0 -15px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-title,
.comment-reply-title {
	display: block;
	margin-bottom: 24px;
	font-size: 30px;
}

.comment-notes,
.logged-in-as {
	margin-bottom: 60px;
}

.comments-wrap {
	margin-top: 112px;
}

.comments-title {
	margin-bottom: 87px;
}

.comment-list {
	margin: 0;
	padding: 0;
	
	.comment {
		@extend %clearfix;
		margin-bottom: 35px;
		list-style-type: none;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	> .comment {
		margin-bottom: 66px;
	}
	
	.pingback {
		@extend %clearfix;
		margin-bottom: 66px;
		list-style-type: none;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		
		.comment-content {
			margin-left: 0;
		}
	}
	
	.children {
		margin-top: 50px;
		padding-left: 40px;
		margin-left: 50px;
		border-left: 3px solid #eeeeee;
	}
	
	.comment-header {
		margin-bottom: 14px;
	}
	
	.comment-author {
		float: left;
		img {
			border-radius: 50%;
		}
	}
	
	.comment-content {
		position: relative;
		overflow: hidden;
		margin-left: 100px;
		font-size: 15px;
	}
	
	.fn {
		font-size: 18px;
		display: inline-block;
		
		a {
			font-style: inherit;
			font-size: inherit;
		}
	}
	
	.comment-datetime {
		display: inline-block;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.23;
		color: #ababab;
		letter-spacing: 0.5px;
		&:before {
			content: '';
			display: inline-block;
			width: 6px;
			height: 6px;
			background-color: #ddd;
			border-radius: 50%;
			margin: 0 12px 2px;
		}
	}
	
	.comment-actions {
		margin-top: 18px;
		
		a {
			margin-right: 30px;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:before {
				font-family: Ionicons;
				margin-right: 10px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.comment-reply-link {
		&:before {
			font-size: 16px;
			content: '\f21e';
		}
	}

	.comment-edit-link {
		&:before {
			content: '\f2bf';
			font-size: 12px;
		}
	}
	
	.comment-text {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.comment-awaiting-messages {
		display: block;
	}
	
	.comment-respond {
		margin-top: 30px;
	}
}

.comment-form {
	textarea {
		height: 136px;
	}
	
	input[type='text'],
	input[type='email'] {
		width: 100%;
	}
	
	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-comment {
		margin: 0 0 30px;
	}

	.comment-form-author,
	.comment-form-email {
		&:before {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			font-family: Ionicons;
			font-size: 30px;
			font-weight: 500;
			color: #888;
		}
		input {
			padding-left: 35px;
		}
	}
	.comment-form-author {
		&:before {
			content: '\f47d';
		}
	}
	.comment-form-email {
		&:before {
			content: '\f422';
		}
	}
	
	p.form-submit {
		margin: 30px 0 0;
	}
}

.comment-navigation {
	margin-top: 40px;
}

@include media-breakpoint-down(lg) {
	.comment-list {
		.vcard {
			img {
				width: 50px;
			}
		}
		
		.children,
		.children .children {
			padding-left: 20px;
		}
		
		.comment-content {
			margin-left: 80px;
		}
		
		.comment-datetime {
			position: static;
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-comment-form {
		padding: 90px 0 100px;
	}
	
	.comment-notes,
	.logged-in-as {
		margin-bottom: 40px;
	}
	
	.comment-form {
		textarea {
			height: 120px;
		}
	}
	
	.comment-list {
		.comment {
			margin-bottom: 50px;
		}
		
		.children {
			margin-top: 50px;
		}
		
		.children,
		.children .children {
			padding-left: 20px;
			margin-left: 20px;
		}
	}
}
