@-webkit-keyframes headerSlideDown {
	0% {
		margin-top: -100px;
	}
	100% {
		margin-top: 0;
	}
}

@-webkit-keyframes headerSlideDown {
	0% {
		margin-top: -100px;
	}
	100% {
		margin-top: 0;
	}
}

.page-header {
	position: relative;
	z-index: 4;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}

.page-header-inner {
	border-bottom: 1px solid transparent;
}

.header-layout-fixed {
	.page-header-inner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
	}
}

.tm-button.header-sticky-button {
	display: none;
}

.headroom--not-top {
	.header-on-top-button {
		display: none;
	}

	.header-sticky-button {
		display: block;
	}

	.page-header-inner {
		border: 0;
	}

	&.sticky-dark-logo-version {
		&.light-logo-version {
			.light-logo {
				display: none;
			}
		}

		.dark-logo {
			display: block;
		}
	}

	&.sticky-light-logo-version {
		&.dark-logo-version {
			.dark-logo {
				display: none;
			}
		}

		.light-logo {
			display: block;
		}
	}
}

.header-sticky-both {
	.headroom.headroom--not-top {
		position: relative;
		z-index: 9999;

		.page-header-inner {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 9999;
			width: 100%;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			animation: headerSlideDown 0.95s ease forwards;

			.container,
			.container-fluid,
			.row {
				height: 100%;
			}

			.row {
				> div {
					align-self: center;
				}
			}
		}
	}
}

.header-sticky-up {
	.headroom.headroom--not-top.headroom--pinned {
		position: relative;
		z-index: 9999;

		.page-header-inner {
			position: fixed;
			left: 0;
			z-index: 9999;
			width: 100%;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			animation: headerSlideDown .95s ease forwards;

			.container,
			.container-fluid,
			.row {
				height: 100%;
			}

			.row {
				> div {
					align-self: center;
				}
			}
		}
	}
}

.header-sticky-down {
	.headroom.headroom--not-top.headroom--unpinned {
		position: relative;
		z-index: 9999;

		.page-header-inner {
			position: fixed;
			left: 0;
			z-index: 9999;
			width: 100%;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			animation: headerSlideDown .95s ease forwards;

			.container,
			.container-fluid,
			.row {
				height: 100%;
			}

			.row {
				> div {
					align-self: center;
				}
			}
		}
	}
}

.branding {
	line-height: 0;
}

.branding__logo {
	@extend %clearfix;

	a {
		display: inline-block;
		float: left;
	}
}

.dark-logo,
.light-logo {
	display: none;
}

.light-logo-version {
	.light-logo {
		display: block;
	}
}

.dark-logo-version {
	.dark-logo {
		display: block;
	}
}

.header-right {
	margin: 0 -12px;

	> div {
		padding: 0 12px;
	}
}

.header-right-inner {
	@extend %transit;
	display: flex;
	margin: 0 -12px;
	align-items: center;
	justify-content: flex-end;
	flex-shrink: 0;

	> .header-icon,
	> div {
		padding: 0 12px;
	}

	@include media-breakpoint-down(sm) {
		margin: 0 -5px;

		> div {
			padding: 0 5px;
		}
	}
}

.page-open-components {
	display: none;
	height: 30px;
	font-size: 20px;
	cursor: pointer;

	.inner {
		display: flex;
		align-items: center;
		height: 30px;
	}

	&:hover {
		.circle-one {
			transform: translateX(18px);
		}

		.circle-three {
			transform: translateX(-18px);
		}
	}

	.circle {
		@extend %transit;
		height: 5px;
		width: 5px;
		background: currentColor;
		border-radius: 100%;
		margin: 0 2px;
	}
}

@include media-breakpoint-down(sm) {
	.page-open-components {
		display: block;
	}

	.header-right-clone {
		display: block;
	}

	.header-right-inner {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		padding: 20px 10px 0 !important;
		box-shadow: 0 0 40px rgba(0, 0, 0, .09);
		visibility: hidden;
		opacity: 0;
		transform: translateY(30px);
		flex-wrap: wrap;

		.header-icon,
		> div {
			padding-left: 10px;
			padding-right: 10px;
		}

		// Ignore mini cart
		> .header-icon,
		> div {
			margin-bottom: 20px;
		}
	}

	.header-more-tools-opened {
		.header-right-inner {
			visibility: visible;
			opacity: 1;
			transform: none;
		}
	}
}

.switcher-language-wrapper {
	> a {
		> img {
			opacity: 1;
		}

		font-weight: 500;

		span {
			color: inherit !important;
			@extend %LinkTransition;
		}
	}

	.gt_white_content {
		max-width: 90% !important;
		margin: 0 !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;

		@include media-breakpoint-down(sm) {
			.gt_languages {
				column-count: 3;
			}
		}

		@include media-breakpoint-down(xs) {
			.gt_languages {
				column-count: 2;
			}
		}

		a {
			border-bottom: 1px solid #f7f7f7;
			color: #333;

			&.glink {
				img {
					opacity: 1;
				}

				span {
					font-size: 14px !important;
				}
			}

			&:hover,
			&.selected {
				color: $color--primary !important;
				font-weight: 400;
				background-color: transparent !important;
			}

			&.selected {
				span {
					&:after {
						width: 100%;
					}
				}
			}

			span {
				@extend %LinkTransition;
			}
		}
	}
}

.popup-search-wrap {
	text-align: center;

	i {
		@extend %transit2;
	}
}

.header-search-form-wrap {
	.search-form {
		position: relative;
	}

	.search-field {
		padding-right: 50px;
		border-color: #f8f8f8;
	}

	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 24px;
		background: none;
		width: 48px;
		height: 48px;
		padding: 0;
		border: 0;
	}

	.search-btn-text {
		display: none;
	}
}

.btn-open-popup-search {
	display: block;
	line-height: 0;
	font-size: 20px;
}

.header-social-networks {

	.inner {
		margin-left: -10px;
		margin-right: -10px;
	}

	a {
		padding: 0 10px;
		font-size: 16px;
	}
}

.header-link-list {
	margin: 0;
	padding: 0;

	.link-item {
		display: inline-block;
		line-height: 1;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}

		a {
			line-height: 1;
		}
	}

	.info-icon {
		font-size: 18px;
		margin-right: 6px;
		vertical-align: middle;
	}

	.info-text {
		vertical-align: middle;
	}
}

.page-open-main-menu {
	display: none;
	height: 30px;
	align-items: center;

	.desktop-menu & {
		display: flex;
	}

	&:hover {
		i {
			&:before,
			&:after {
				width: 70%;
			}
		}
	}

	div {
		position: relative;
		width: 24px;
		height: 18px;
		cursor: pointer;
	}

	i {
		@extend %transit2;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		width: 100%;
		height: 2px;
		background: currentColor;

		&:before,
		&:after {
			position: absolute;
			left: 50%;
			width: 100%;
			height: 100%;
			background: inherit;
			content: '';
			transition: width .3s cubic-bezier(.645, .045, .355, 1);
			transform: translate(-50%, 0);
		}

		&:before {
			top: -8px;
		}

		&:after {
			top: 8px;
		}
	}
}

.page-open-main-menu-title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

.switcher-language-wrapper {
	height: 100%;

	.wpml-ls-legacy-dropdown-click,
	.wpml-ls-legacy-dropdown-click > ul,
	.wpml-ls-legacy-dropdown-click > ul > li {
		height: 100%;
	}

	.wpml-ls-legacy-dropdown-click > ul > li {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.wpml-ls-legacy-dropdown-click {
		width: auto;

		> ul {
			position: relative;
			padding: 0;
			margin: 0 !important;
			list-style-type: none;
		}

		.wpml-ls-item-legacy-dropdown-click {
			&:hover {
				.wpml-ls-sub-menu {
					visibility: visible !important;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		.wpml-ls-item-toggle {
			background: none !important;
			border: 0;
			font-size: 13px;
			font-weight: 700;
			line-height: 1;
			letter-spacing: 0.5px;

			&:after {
				font-family: Ionicons;
				content: '\f123';
				font-size: 8px;
				font-weight: 500;
				border: 0;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				height: 9px;
			}
		}

		.wpml-ls-item-toggle-flag {
			position: relative;
			display: inline-block;
			width: 24px;
			height: 24px;
			border-radius: 100%;
			vertical-align: middle;
			overflow: hidden;
			margin-right: 9px;

			img {
				position: absolute;
				top: -50%;
				left: -50%;
				width: 48px;
				height: 48px;
				max-width: 48px;
			}
		}

		.wpml-ls-native {
			vertical-align: middle;
			margin-right: 5px;
			font-size: 13px;
			font-weight: 700;
		}

		.wpml-ls-flag {
			+ span {
				margin-left: 10px;
			}
		}

		.wpml-ls-sub-menu {
			@extend %transit2;
			min-width: 200px;
			border: 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			padding: 0;
			margin: 0;
			list-style-type: none;
			z-index: 102;
			box-shadow: 0 0 37px rgba(0, 0, 0, .07);

			&.hover-back {
				right: 0;
				left: auto;
			}

			li {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			transform: translateY(20px);

			a {
				display: block;
				text-decoration: none;
				padding: 10px;
				border: 0;
				background: #ffffff;
				color: #222222;
				line-height: 1;

				&:hover {
					background: #eeeeee;
					color: #222222;
				}

				img {
					width: 18px;
				}
			}
		}
	}
}

.header-button {
	line-height: 0;
}

@include media-breakpoint-down(sm) {
	.header-button {
		display: none;
	}
}

.header-text-info {
	display: flex;
	align-items: center;

	.info-icon {
		font-size: 37px;
		color: #ababab;
		flex-shrink: 0;
		margin-right: 13px;
	}

	.info-text {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.info-sub-text {
		font-size: 24px;
		font-weight: 500;
	}
}

