.header-02 {
	.header-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.branding {
		flex-shrink: 0;
	}

	.header-right-info {
		display: flex;
		align-items: center;
	}

	.info-wrap {
		display: flex;
		align-items: center;
	}

	.info-icon {
		font-size: 40px;
		line-height: 1;
		flex-shrink: 0;
		margin-right: 15px;
	}

	.info-text {
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.info-sub-text {
		font-size: 24px;
		font-weight: 700;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;

			> ul > li > a .menu-item-title {
				@extend %LinkTransition;
				display: inline-block;

				&:after {
					height: 1px;
					bottom: -2px;
				}
			}
		}

		.page-navigation {
			flex-grow: 1;
		}
	}

	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
		}

		.branding {
			flex-grow: 1;
		}
	}
}
