.error404 {
	background-color: #f7f7f7;

	.maintenance-page {
		text-align: center;
		padding: 100px 0;
	}

	.error-404-big-title {
		font-size: 200px;
		font-weight: 500;
	}

	.error-404-title {
		font-size: 36px;
		margin-bottom: 20px;
	}

	.error-404-search-form-wrap {
		position: relative;
		max-width: 500px;
		margin: 84px auto 0;
		.search-field {
			border: 0;
			border-bottom: 2px solid red;
			border-radius: 0;
			background: transparent;
			padding: 0;
			color: #222;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-size: 15px;
				color: #999;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				font-size: 15px;
				color: #999;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				font-size: 15px;
				color: #999;
			}
			&:-moz-placeholder { /* Firefox 18- */
				font-size: 15px;
				color: #999;
			}
		}

		.search-submit {
			position: absolute;
			top: 0;
			right: -5px;
			padding: 0;
			border: 0;
			background-color: transparent;
			outline: none;
		}

		.search-btn-text {
			font-size: 0;
		}

		.search-btn-icon {
			font-size: 24px;
			font-weight: 500;
			color: #222;
			vertical-align: middle;
		}
	}

	.woosc-area {
		display: none;
	}
}

@include media-breakpoint-down(md) {
	.error404 {
		overflow: auto;
		.error-404-big-title {
			font-size: 100px;
		}
		.error-404-title {
			font-size: 20px;
		}
		.error-404-search-form-wrap {
			max-width: 350px;
			margin-top: 60px;
		}
	}
}
