.sticky {
	.post-sticky {
		margin-left: 14px;
		color: #c0c0c0;
		font-weight: 600;
	}

	span {
		font-size: 18px;
		margin-right: 4px;
	}
}

.post-password-form {
	input[type='submit'] {
		display: block;
		margin: 30px 0 0;
	}
}

.entry-content {
	p:last-child {
		clear: both;
	}
}

.single-post {

	&.page-has-sidebar {
		.page-content {
			padding-top: 80px;
		}
	}

	.entry-banner {
		position: relative;
		padding: 138px 0 70px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, .45);
		}

		.entry-title {
			color: #ffffff;
			line-height: 1.04em;
			margin-bottom: 25px;
		}

		.post-meta {
			color: #ffffff;

			a {
				color: inherit;
			}

			.sl-icon,
			.meta-icon {
				color: #ffffff;
			}
		}
	}

	.page-main-content {
		position: relative;
		min-height: 1px;
		padding-left: .9375rem;
		padding-right: .9375rem;
		width: 100%;
	}

	.entry-header {
		margin-bottom: 40px;
	}

	.entry-title {
		font-size: 32px;
		margin: 0 0 20px;
	}

	.post-feature {
		margin-bottom: 35px;

		&.post-gallery {
			margin: 0 0 40px;

			.swiper-container {
				padding: 0;
			}
		}
	}

	.entry-content {
		@extend %clearfix;
		margin-bottom: 80px;
	}

	.post-thumbnail {
		text-align: center;
	}

	.post-tags {
		span {
			font-size: 13px;
			font-weight: 700;
			letter-spacing: 0.54px;
			text-transform: uppercase;
			margin-right: 20px;

			&:before {
				@extend %FontAwesomeRegular;
				content: '\f02c';
				font-size: 18px;
				font-weight: 500;
				margin-right: 9px;
			}
		}

		a {
			@extend %LinkTransition;
			display: inline-block;
			color: $color--heading;
			font-weight: 400;
			line-height: 1;

			&:before {
				content: '# ';
			}

			&:hover {
				color: $color--primary;
			}
		}
	}

	.post-categories {
		margin: 0 -5px 10px;

		a {
			display: inline-block;
			font-size: 13px;
			font-weight: 700;
			line-height: 1.2;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 5px 11px;
			margin: 5px;
			color: #fff;
			background-color: $color--primary;

			&:hover {
				background-color: $color--heading;
			}
		}
	}

	.post-meta {
		font-size: 14px;
		font-weight: 500;
		color: rgba(38, 38, 38, 0.71);

		> * {
			display: inline-block;
		}

		> div + div {
			&:before {
				content: '';
				width: 4px;
				height: 4px;
				display: inline-block;
				background-color: #ababab;
				border-radius: 50%;
				margin: 0 15px 2px;
			}
		}

		.meta-icon {
			margin-right: 5px;
		}
	}

	.post-author-meta {
		text-transform: capitalize;

		img {
			margin-right: 5px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			vertical-align: middle;
		}

		a {
			color: inherit;

			&:hover {
				color: initial;
			}
		}

		span {
			@extend %LinkTransition;
		}
	}

	.entry-footer {
		border-top: 1px solid #e9e9e9;
		padding-top: 30px;

		.row {
			margin-bottom: 45px;
		}
	}

	.post-video,
	.post-link,
	.post-quote {
		margin-bottom: 46px;
	}

	.post-audio {
		margin-bottom: 38px;

		iframe {
			width: 100%;
			height: 165px;
			border: 0;
		}
	}

	.post-link {
		padding: 82px 100px;
		font-size: 24px;
		line-height: 1.5;

		a {
			word-wrap: break-word;
		}
	}

	.post-quote {
		position: relative;
	}

	.post-quote-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .8;
	}

	.post-quote-content {
		position: relative;
		padding: 63px 100px 67px;
		background: url(assets/images/blog-quote-icon.png) no-repeat 65px 35px;
		border: 2px solid $color--primary;
	}

	.post-quote-text {
		margin-bottom: 40px;
		color: #222;
		font-size: 24px;
		font-style: italic;
		font-weight: 500;
		line-height: 1.5;
	}

	.post-quote-name {
		font-size: 24px;
		font-weight: 700;
		text-decoration: underline;

		a {
			color: #222;
		}
	}

	.format-gallery {
		.post-feature {
			&.tm-swiper .swiper-pagination {
				bottom: 30px;
			}
		}
	}
}

.post-share {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.post-share-title {
		font-weight: 700;
		margin-right: 20px;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 0.54px;

		&:before {
			content: '\f367';
			@extend %FontAwesomeRegular;
			font-size: 18px;
			font-weight: 500;
			margin-right: 9px;
			color: red;
		}
	}

	.post-share-list {
		@extend %clearfix;

		a {
			display: block;
			float: left;
			text-align: center;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			border: 1px solid #eeeeee;
			border-radius: 50%;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: #fff;
				border-color: transparent;
			}
		}
	}
}

.related-posts {

	.related-title {
		margin-top: 80px;
		margin-bottom: 35px;
		font-size: 30px;
	}

	.related-post-item {
		width: 100%;
	}

	.post-item-wrap {
		&:hover {
			.post-thumbnail {
				img {
					transform: scale3d(1.1, 1.1, 1.1);
				}
			}
		}
	}

	.post-feature-wrap {
		margin-bottom: 25px;
	}

	.post-thumbnail {
		position: relative;
		overflow: hidden;
		margin-bottom: 0;

		img {
			@extend %LongTransition;
			width: 100%;
		}
	}

	.post-categories {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 1;

		a {
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 2px 8px;
			margin: 5px;
			color: #fff;
			background-color: $color--primary;

			&:hover {
				color: #fff;
				background-color: $color--heading;
			}
		}
	}

	.post-meta {
		> div {
			display: inline-block;
			font-size: 14px;
			font-weight: 500;
			color: rgba(38, 38, 38, 0.51);
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			+ div {
				&:before {
					display: none;
				}
			}
		}

		.meta-icon {
			margin-right: 3px;
		}
	}

	.post-date,
	.post-view {
		margin-bottom: 10px;
	}

	.post-title {
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 15px;

		&:hover {
			a {
				text-decoration: underline;
			}
		}
	}

	.post-excerpt {
		margin-bottom: 20px;
	}

	.post-read-more {
		display: inline-block;
		position: relative;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		border-bottom: 2px solid #eee;
		margin-bottom: 20px;

		&:after {
			@include transit;
			content: '';
			position: absolute;
			bottom: -2px;
			right: 0;
			width: 0;
			height: 2px;
		}

		&:hover {
			&:after {
				width: 100%;
				left: 0;
				right: auto;
			}
		}

		a {
			color: inherit;
		}

		.btn-icon {
			font-size: 14px;
			font-weight: 500;
			margin-left: 5px;
		}
	}
}

.entry-author {
	margin-top: 95px;
	padding: 50px 46px;
	border: 1px solid #eeeeee;

	.author-info {
		display: flex;
	}

	.author-avatar {
		min-width: 100px;
		width: 100px;

		img {
			border-radius: 100%;
		}
	}

	.author-description {
		margin-left: 32px;
	}

	.author-name {
		margin-bottom: 8px;
		font-size: 18px;
	}

	.author-biographical-info {
		margin-top: 15px;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.author-social-networks {
		@extend %clearfix;
		margin: 15px -10px 0;

		a {
			display: block;
			float: left;
			padding: 6px 10px;
			font-size: 18px;
			line-height: 1;
		}
	}
}

@include media-breakpoint-down(sm) {
	.entry-author {
		padding: 30px;
	}

	.post-share {
		margin-top: 15px;
		justify-content: flex-start;
	}
}
