@mixin transit {
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

@mixin transit2 {
	transition: all .5s cubic-bezier(.645, .045, .355, 1);
}

@mixin LongTransition {
	transition: all .8s cubic-bezier(0, 0, 0.2, 1);
}

%transit {
	@include transit();
}

%transit2 {
	@include transit2();
}

%LongTransition {
	@include LongTransition();
}
